.header_container {
    height: 50vh;
    background-image: url(../../assets/img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-inline: 100px;
}

.main_container {
    padding: 100px;
}

.main_container a {
    border: 2px solid green;
    color: green;
    padding: 15px;
    border-radius: 15px;
}

.main_container p {
    width: 30%;
    font-size: 2rem;
    padding-bottom: 50px;
}
